*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-width: 1200px;
  margin: 0 auto;
  text-align: center;
  font-family: 'Arial', sans-serif;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

div,
article,
section,
dl,
dt,
dd,
table,
tr,
td,
ul,
ol,
li,
p,
span,
small,
em,
h1,
h2,
h3,
h4,
h5,
h6,
nav {
  padding: 0;
  margin: 0;
}

.row {
  max-width: 1620px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

/*cookie*/
.cc-animate.cc-revoke.cc-bottom {
  font-size: 14px;
  padding: 5px 10px;
  position: fixed;
  display: block !important;
  transform: none !important;
  bottom: 0 !important;
  left: 20px !important;
}

/*call to action*/
.destroy-on-load,
.cta {
  display: none;
}

/*typography*/
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

h1,
h2 {
  font-family: 'Times New Roman', sans-serif;
  font-size: 70px;
  font-weight: 400;
  line-height: 1.2;
}

p,
ul,
nav ul li a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  line-height: 1.7;
  font-size: 17px;
}

p {
  font-size: 20px;
}

.foreword {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  letter-spacing: 2px;
  line-height: 1.2;
  font-weight: 500;
}

.text-bold-red {
  font-weight: 700;
  color: #B20000;
}

.text-bold-green {
  font-weight: 700;
  color: #006633;
}



/*BUTTON*/
.btn {
  position: relative;
  overflow: hidden;
  z-index: 999;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 27px 0;
  width: 292px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  background: #DCB352;
  color: #000;
  line-height: 1.2;
  letter-spacing: 2px;
  -webkit-appearance: inherit;
  transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}

.btn:hover {
  transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  color: #DCB352;
  background: #000;
}

/*FLEX*/
.flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}


img {
  width: 100%;
}

.to-db {
  display: block;
}

@media (max-width: 959px) {
  .to-db {
    display: inline;
  }
}

/*SOCIAL*/
.socials a {
  font-size: 30px;
  line-height: 1.2;
  font-family: 'Socialico';
  letter-spacing: 11px;
  padding: 0 20px;
  color: #fff
}

.socials a.ig_link {
  font-family: 'socialico-plus';
}

.socials a[href="https://facebook.com"] {
  color: #3B5A9A;
}

.socials a[href="https://plus.google.com"] {
  color: #D54936;
}

.socials a[href="https://linkedin.com"] {
  color: #117BB8;
}

.socials a[href="https://twitter.com"] {
  color: #25A8E0;
}

.socials a[href="https://instagram.com"] {
  color: #2F689B;
}


/*-----------------------------------------------HEADER-----------------------------------------------*/
#header {
  position: relative;
  width: 100%;
  z-index: 1000;
}

#header.fixed {
  position: fixed;
  background-color: rgb(0 0 0 / 90%);
  /* min-height: 188px; */
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}


#header .nav-holder {
  z-index: 1;
  position: absolute;
  width: 100%;
  align-items: center;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

#header nav a#pull {
  display: none
}

#header nav {
  position: relative;
  z-index: 999;
  width: 100%;
  max-width: 1266px;
  margin: auto;
}

#header nav ul {
  justify-content: space-between;
  display: flex;
  align-items: center;
  /* gap: 10px; */
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  display: inline-block;
  vertical-align: middle;
}

nav ul li a {
  font-weight: 400;
  color: #fff;
  padding: 40px 10px 30px;
}


#header nav ul li a:hover {
  font-weight: 700;
  color: #fff;
}

#header nav ul li.active-menu a {
  color: #000;
  font-weight: 700;
  background: url('../images/content/hvr-nav.png')no-repeat bottom;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  /* min-height: 115px; */
  display: block;
}


/*-----------------------------------------------BANNER-----------------------------------------------*/
#banner {
  background: url('../images/content/bg-banner.png')no-repeat top;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  min-height: 1018px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#banner .banner-con {
  width: 100%;
}

#banner .logo-holder img {
  width: 100%;
  max-width: 376px;
}

#banner .foreword {
  font-family: 'Times New Roman', sans-serif;
  color: #fff;
  font-size: 76px;
  margin: 60px 0;
}


#banner .btn {
  color: #fff;
}

/*-----------------------------------------------CONTENT-----------------------------------------------*/
/*MISSION*/
#mission {
  background: url('../images/content/bg-mission.jpg')no-repeat left;
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  min-height: 1192px;
  display: flex;
  align-items: center;
  margin-top: -200px;
}

#mission .mission-con {
  width: 100%;
}

#mission .left img {
  max-width: 598px;
  box-shadow: 4px 4px 7px 4px rgba(0, 0, 0, 0.30);
}

#mission .right {
  width: 100%;
  max-width: 870px;
  text-align: left;
}

#mission .right h1 {
  margin: 32px 0 23px;
}

#mission .right p {
  width: 100%;
  max-width: 716px;
}

#mission .btn-holder {
  margin-top: 85px;
}

#mission .btn-holder .btn {
  margin: 0;
}



/*OBJECTIVES*/
#objectives {
  background: url('../images/content/bg-objectives.png')no-repeat top;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  height: 100%;
  width: 100%;
  min-height: 1384px;
  display: flex;
  align-items: center;
  margin-top: -200px;
  color: #fff;
}

#objectives h1 {
  width: 100%;
  max-width: 737px;
  margin: 0 auto 50px;
}


#objectives .objectives-con {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 65px;
  grid-row-gap: 65px;
}

#objectives .card {
  border: 2px solid #fff;
  padding: 35px 58px;
}

#objectives .card img {
  width: auto;
  height: 100%;
  min-height: 117px;
}

#objectives .label {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 1.2;
  font-weight: 500;
}

#objectives .btn-holder {
  margin-top: 115px;
}

/* MEASUREMENT */
#measurement {
  background: url('../images/content/bg-measurement.jpg')no-repeat right;
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  min-height: 1196px;
  display: flex;
  align-items: center;
  margin-top: -200px;
}

#measurement .measurement-con {
  width: 100%;
}

#measurement .left {
  width: 100%;
  max-width: 802px;
}

#measurement .left h1 {
  margin: 32px 0 23px;
}

#measurement .left p {
  margin-bottom: 26px;
}

#measurement .left .btn-holder {
  margin-top: 48px;
}

#measurement .left .btn {
  margin: 0;
}

#measurement .right {
  width: 100%;
  max-width: 627px;
}

#measurement .right img {
  max-width: 552px;
  box-shadow: 4px 4px 7px 4px rgba(0, 0, 0, 0.30);
}

#measurement .right .img-holder1 {
  margin-bottom: 30px;
}



/* EVENTS */
#events {
  background: url('../images/content/bg-events.png')no-repeat top;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  height: 100%;
  width: 100%;
  min-height: 1026px;
  display: flex;
  align-items: center;
  margin-top: -200px;
  color: #fff;
}

#events .row {
  width: 100%;
}

#events .events-con {
  width: 100%;
  max-width: 1434px;
  margin: 60px
}

#events img {
  max-width: 453px;
}

#events .label {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 2px;
  margin: 25px 0;
}

/*gallery*/

#gallery h1 {}

#gallery img {
  display: block;
  margin: 10px;
}


/*CONTACT*/
#contact {
  position: relative;
}

#contact .ctc-form label {
  width: 32%
}

form .messages p {
  display: none;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 400 !important;
  letter-spacing: 0 !important;
  font-size: 16px !important;
}

form .loading {
  display: none;
}

form .alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

form .alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

form .alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.ctc-form {
  margin: 0 auto;
  text-align: center;
}

.ctc-form input[type="text"],
.ctc-form textarea {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #000;
  height: 45px;
  display: block;
  width: 100%;
  border: 1px solid #A8A8A8;
  padding: 5px 10px;
  box-sizing: border-box;
  margin: 0 auto 8px;
  resize: none;
  background: #EEEEEE;
}

.ctc-form ::placeholder,
.ctc-form label {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #fff;
  line-height: 1.8;
  letter-spacing: .03px;
  text-align: left;
}

.ctc-form ::placeholder {
  color: #545454
}

.ctc-form textarea {
  height: 150px;
  padding-top: 10px;
}

.ctc-form .ctcBtn {
  display: block;
  border: none;
}

.ctc-form .recap {
  display: inline-block;
}

.ctc-form .g-recaptcha div {
  margin: 0 auto 10px;
}

.ctc-form .ctc-hide {
  display: none;
}


/*-----------------------------------------------FOOTER-----------------------------------------------*/
#footer {
  background: url('../images/common/footer.jpg')no-repeat top;
  -webkit-background-size: cover;
  background-size: cover;
}

#footer .logo-holder {}

#footer .logo-holder img {
  max-width: 431px;
}

#footer .nav-holder {
  width: 100%;
}

#footer nav {
  width: 100%;
  max-width: 806px;
  margin: 50px auto 0;
}

#footer nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#footer nav ul li {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  box-sizing: border-box;
}

/* DROPUP */

.dropup .dropupbtn {
  font-weight: 700;
  color: #fff;
}

#header .dropup {
  float: left;
  overflow: hidden;
}

.dropup .dropupbtn {
  cursor: pointer;
  border: none;
  background-color: inherit;
  margin: 0;
}

.navbar a:hover,
.dropup:hover .dropupbtn {}

.dropup:hover>.dropupbtn {}

.dropup-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: opacity 0.3s ease;
  padding: 0 18px;
  border-radius: 10px;
  bottom: 122px;
  ;
}

.dropup-content a {
  float: none;
  color: inherit;
  text-decoration: none;
  display: block;
  text-align: left;
  line-height: 46px;
  color: #000;
  font-weight: 600;
}

.dropup-content a:hover {
  font-weight: 900;
  color: #CC0000;
}

.show-up {
  display: block;
}

#footer .copyrights {
  background: #3D3330;
  padding: 20px 0
}

#footer .copyrights p {
  color: #fff;
}

.techno img {
  width: 52px;
  margin: 0 5px -14px;
}








/*---------------------------------------inner pages-------------------------------------------*/
.inner #content {
  min-height: 400px;
  padding: 40px 0;
  max-width: 1200px;
  margin: 0 auto
}

.inner #content h1 {
  padding-bottom: 20px;
}


/*inner gallery*/
.img-responsive {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
  object-fit: cover;
}

#content .gallery-container {
  text-align: center;
}

#content .gallery {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#content .gallery li {
  display: inline-block;
}

#content .thumbnail {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: block;
  line-height: .42857;
  margin-bottom: 20px;
  padding: 4px;
  transition: border 0.5s ease-in-out 0s;
}

#content .thumbnail:hover {
  transform: scale(1.02);
}

#content .page_navigation {
  display: inline-block;
}

#content .page_link,
#content .previous_link,
#content .next_link,
#content .first_link,
#content .last_link,
#content .ellipse {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #0275d8;
  display: inline-block;
  line-height: 1.25;
  margin-left: -1px;
  padding: 0.5rem 0.75rem;
  position: relative;
}

#content .page_navigation>a:hover,
.page_navigation>a.active_page {
  background-color: #eceeef;
  border-color: #ddd;
  color: #014c8c;
  text-decoration: none;
}

.inner #content .gallery-container {
  margin-bottom: 20px
}




/*privacy policy*/
.inPrivacyBox {
  max-width: 850px;
  margin: 0 auto;
}

.inPrivacyBox p {
  text-align: justify !important;
}



/*RESPONSIVE*/
@media screen and (max-width: 1440px) {}


/*1200*/
@media screen and (max-width: 1439px) {}

@media screen and (max-width: 1200px) {
  body {
    min-width: 320px
  }
}

/*1024*/
@media screen and (max-width: 1199px) {}

/*960*/
@media screen and (max-width: 1023px) {}

/*768*/
@media screen and (max-width: 959px) {

  #header .row {
    width: 100%;
    padding: 0;
  }

  #header nav {}

  #header nav ul {
    width: 100%;
    display: none;
    height: auto;
    border-bottom: 5px solid #000;
    padding: 0 15px;
  }

  #header nav ul li {
    width: 100%;
    position: relative;
  }

  #header nav ul li a {
    padding: 10px 0;
    text-align: left;
    width: 100%;
  }

  #header nav a strong {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
  }

  #header nav a#pull {
    display: block;
    color: #fff;
    background-color: #000;
    height: 60px;
    padding: 10px 0;
    width: 100%;
    position: relative;
  }

  #header nav a#pull:after {
    content: "";
    background: url('../images/nav-icon.png') no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
  }

  .cta {
    background: #035B96 url("../images/common/phonecall.png") no-repeat center center;
    border-bottom-left-radius: 40px;
    border-top: 2px solid #013f9a;
    border-top-left-radius: 40px;
    bottom: 10%;
    display: block;
    height: 60px;
    position: fixed;
    right: 0;
    text-decoration: none;
    text-indent: -9999em;
    width: 60px;
    z-index: 999;
  }


}


/*425*/
@media screen and (max-width: 767px) {}


/*375*/
@media screen and (max-width: 424px) {}

/*320*/
@media screen and (max-width: 374px) {}