*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-width: 1200px;
  margin: 0 auto;
  text-align: center;
  font-family: 'Arial', sans-serif;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

div,
article,
section,
dl,
dt,
dd,
table,
tr,
td,
ul,
ol,
li,
p,
span,
small,
em,
h1,
h2,
h3,
h4,
h5,
h6,
nav {
  padding: 0;
  margin: 0;
}

.row {
  max-width: 1620px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

/*cookie*/
.cc-animate.cc-revoke.cc-bottom {
  font-size: 14px;
  padding: 5px 10px;
  position: fixed;
  display: block !important;
  transform: none !important;
  bottom: 0 !important;
  left: 20px !important;
}

/*call to action*/
.destroy-on-load,
.cta {
  display: none;
}

/*typography*/
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

h1,
h2 {
  font-family: 'Times New Roman', sans-serif;
  font-size: 70px;
  font-weight: 400;
  line-height: 1.2;
}

p,
ul,
nav ul li a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 17px;
}

p {
  font-size: 20px;
  line-height: 1.7;
}

.foreword {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  letter-spacing: 2px;
  line-height: 1.2;
  font-weight: 500;
}

.text-bold-red {
  font-weight: 700;
  color: #B20000;
}

.text-bold-green {
  font-weight: 700;
  color: #006633;
}



/*BUTTON*/
.btn {
  position: relative;
  overflow: hidden;
  z-index: 999;
  /* display: block; */
  margin: 0 auto;
  text-align: center;
  padding: 27px 0;
  width: 292px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  background: #DCB352;
  color: #000;
  line-height: 1.2;
  letter-spacing: 2px;

  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.btn::before {
  /* transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  color: #DCB352;
  background: #000; */

  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #DCB352;
  background: #000;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.btn:hover,
.btn:focus,
.btn:active {
  color: white;
}

.btn:hover:before,
.btn:focus:before,
.btn:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

/*FLEX*/
.flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  /* -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap; */
}


img {
  width: 100%;
}


/* EFFECTS/ANIMATION  */
.cssanimation {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.fadeInBottom {
  animation-name: fadeInBottom
}

@keyframes fadeInBottom {
  from {
    opacity: 0;
    transform: translateY(100%);
  }

  to {
    opacity: 1
  }
}


.reveal {
  position: relative;
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}

.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}

.active.fade-left {
  animation: fade-left 1s ease-in;
}


@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


/*SOCIAL*/
.socials a {
  font-size: 30px;
  line-height: 1.2;
  font-family: 'Socialico';
  letter-spacing: 11px;
  padding: 0 20px;
  color: #fff
}

.socials a.ig_link {
  font-family: 'socialico-plus';
}

.socials a[href="https://facebook.com"] {
  color: #3B5A9A;
}

.socials a[href="https://plus.google.com"] {
  color: #D54936;
}

.socials a[href="https://linkedin.com"] {
  color: #117BB8;
}

.socials a[href="https://twitter.com"] {
  color: #25A8E0;
}

.socials a[href="https://instagram.com"] {
  color: #2F689B;
}


/*-----------------------------------------------HEADER-----------------------------------------------*/
#header {
  position: relative;
  width: 100%;
  z-index: 1000;
}

#header.fixed {
  position: fixed;
  background-color: rgb(0 0 0 / 80%);
  min-height: 78px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}


#header .nav-holder {
  z-index: 1;
  position: absolute;
  width: 100%;
  align-items: center;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

#header nav a#pull {
  display: none
}

#header nav {
  position: relative;
  z-index: 999;
  width: 100%;
  max-width: 1266px;
  margin: auto;
}

#header nav ul {
  justify-content: space-between;
  display: flex;
  align-items: center;
  /* gap: 10px; */
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  display: inline-block;
  vertical-align: middle;
}

nav ul li a {
  font-weight: 400;
  color: #fff;
  padding: 40px 8px 30px;
}


#header nav ul li a:hover {
  font-weight: 700;
  color: #fff;
  transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}

#header nav ul li.active-menu a {
  color: #000;
  font-weight: 700;
  background: url('../images/content/hvr-nav.png')no-repeat bottom;
  -webkit-background-size: cover;
  background-size: cover;
  /* background: #DCB352; */
  height: 100%;
  width: 100%;
  /* min-height: 115px; */
  display: block;
  width: 100%;
  max-width: 118px;
}


/*-----------------------------------------------BANNER-----------------------------------------------*/
#banner {
  background: url('../images/content/bg-banner.png')no-repeat top;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  min-height: 1018px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#banner .banner-con {
  width: 100%;
  padding-bottom: 115px;
}

#banner .logo-holder img {
  width: 100%;
  max-width: 376px;
}

#banner .foreword {
  font-family: 'Times New Roman', sans-serif;
  color: #fff;
  font-size: 76px;
  margin: 60px 0;
}


#banner .btn {
  color: #fff;
}

/*-----------------------------------------------CONTENT-----------------------------------------------*/
/*MISSION*/
#mission {
  background: url('../images/content/bg-mission.jpg')no-repeat left;
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  min-height: 1305px;
  display: flex;
  align-items: center;
  margin-top: -259px;
}

#mission .mission-con {
  width: 100%;
}

#mission .left img {
  max-width: 598px;
  box-shadow: 4px 4px 7px 4px rgba(0, 0, 0, 0.30);
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

#mission .left img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#mission .right {
  width: 100%;
  max-width: 870px;
  text-align: left;
}

#mission .right h1 {
  margin: 32px 0 23px;
}

#mission .right p {
  width: 100%;
  max-width: 716px;
}

#mission .btn-holder {
  margin-top: 85px;
}

#mission .btn-holder .btn {
  margin: 0;
}



/*OBJECTIVES*/
#objectives {
  background: url('../images/content/bg-objectives.png')no-repeat top;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  height: 100%;
  width: 100%;
  min-height: 1384px;
  display: flex;
  align-items: center;
  margin-top: -200px;
  color: #fff;
}

#objectives .row {
  width: 100%;
  max-width: 1434px;
}

#objectives h1 {
  width: 100%;
  max-width: 737px;
  margin: 0 auto 50px;
}

#objectives .objectives-con {
  text-align: center;
}


#objectives .flex {
  gap: 60px;
  margin-bottom: 60px;
}

#objectives .card {
  display: inline-block;
  /* border: 2px solid #fff; */
  padding: 35px 0;
  width: 100%;
  max-width: 431px;

  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  box-shadow: inset 0 0 0 2px #e1e1e1, 0 0 1px rgba(0, 0, 0, 0);
  /* Hack to improve aliasing on mobile/tablet devices */
}

#objectives .card:hover {
  box-shadow: inset 0 0 0 4px #DCB352, 0 0 1px rgba(0, 0, 0, 0);
  /* Hack to improve aliasing on mobile/tablet devices */
}

#objectives .card img {
  width: auto;
  height: 100%;
  min-height: 117px;
}

#objectives .label {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 1.2;
  font-weight: 500;
  margin-top: 14px;
}

#objectives .btn-holder {
  margin-top: 115px;
}

/* MEASUREMENT */
#measurement {
  background: url('../images/content/bg-measurement.jpg')no-repeat right;
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  min-height: 1196px;
  display: flex;
  align-items: center;
  margin-top: -200px;
}

#measurement .measurement-con {
  width: 100%;
}

#measurement .left {
  width: 100%;
  max-width: 802px;
}

#measurement .left h1 {
  margin: 32px 0 23px;
}

#measurement .left p {
  margin-bottom: 26px;
}

#measurement .left .btn-holder {
  margin-top: 48px;
}

#measurement .left .btn {
  margin: 0;
}

#measurement .right {
  width: 100%;
  max-width: 627px;
}

#measurement .right img {
  max-width: 552px;
  box-shadow: 4px 4px 7px 4px rgba(0, 0, 0, 0.30);
}

#measurement .right .img-holder1 {
  margin-bottom: 30px;
}



/* EVENTS */
#events {
  background: url('../images/content/bg-events.png')no-repeat top;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  height: 100%;
  width: 100%;
  min-height: 1026px;
  display: flex;
  align-items: center;
  margin-top: -200px;
  color: #fff;
}

#events .row {
  width: 100%;
}

#events .events-con {
  width: 100%;
  max-width: 1434px;
  margin: 60px auto;
  gap: 12px;
}

#events img {
  max-width: 453px;
}

#events .label {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 2px;
  margin: 25px 0;
}

#events .btn {
  width: 216px;
  padding: 13px 0;
}

/*gallery*/

#gallery h1 {}

#gallery img {
  display: block;
  margin: 10px;
}


/*CONTACT*/
#contact {
  position: relative;
}

#contact .ctc-form label {
  width: 32%
}

form .messages p {
  display: none;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 400 !important;
  letter-spacing: 0 !important;
  font-size: 16px !important;
}

form .loading {
  display: none;
}

form .alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

form .alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

form .alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.ctc-form {
  margin: 0 auto;
  text-align: center;
}

.ctc-form input[type="text"],
.ctc-form textarea {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #000;
  height: 45px;
  display: block;
  width: 100%;
  border: 1px solid #A8A8A8;
  padding: 5px 10px;
  box-sizing: border-box;
  margin: 0 auto 8px;
  resize: none;
  background: #EEEEEE;
}

.ctc-form ::placeholder,
.ctc-form label {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #000;
  line-height: 1.8;
  letter-spacing: .03px;
  text-align: left;
}

.ctc-form .flex {
  align-items: start;
  margin-top: 15px;
}

.ctc-form ::placeholder {
  color: #545454
}

.ctc-form textarea {
  height: 150px;
  padding-top: 10px;
}

.ctc-form .ctcBtn {
  display: block;
  border: none;
}

.ctc-form .recap {
  display: inline-block;
}

.ctc-form .g-recaptcha div {
  margin: 0 auto 10px;
}

.ctc-form .ctc-hide {
  display: none;
}


/*-----------------------------------------------FOOTER-----------------------------------------------*/
#footer {
  background: url('../images/content/bg-footer.jpg')no-repeat top;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  min-height: 1033px;
}

#footer .row {
  margin-top: 65px;
}

#footer .logo-holder {}

#footer .logo-holder img {
  max-width: 431px;
}

#footer .comp-info {
  width: 100%;
  max-width: 1198px;
  margin: 112px auto 50px;
}

#footer .comp-info .flex {
  gap: 10px;
}

#footer .comp-info .card {
  border: 1px solid #000;
  border-radius: 15px;
  width: 100%;
  max-width: 334px;
  padding: 30px 0 20px;
}

#footer .card img {
  max-width: 78px;
  margin-top: -66px;
}

#footer .comp-info .label,
#footer .comp-info a {
  font-family: 'Century Gothic', sans-serif;
  font-size: 15px;
  font-weight: 700;
  margin: 11px 0;
}

#footer .comp-info a {
  font-size: 16px;
}

#footer .comp-info .phone a {
  font-size: 24px;
}

#footer .comp-info .location .con {
  width: 100%;
  max-width: 241px;
  margin: auto;
}

#footer .socials img {
  width: auto;
  min-height: 22px;
}


#footer .nav-holder {
  width: 100%;
}

#footer nav {
  width: 100%;
  max-width: 1264px;
  margin: 50px auto 0;
}

#footer nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#footer nav ul li {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  box-sizing: border-box;
  text-align: center;
}

#footer nav ul li a {
  font-weight: 400;
  color: #000;
  font-weight: 500;
}

#footer nav ul li a:hover,
#footer nav ul li.active-menu {
  font-weight: 700;
}

#footer .copyrights {
  padding: 50px 0 30px;
}

#footer .copyrights p {
  color: #000;
}

.techno img {
  width: 52px;
  margin: 0 5px -14px;
}


/*---------------------------------------inner pages-------------------------------------------*/
.inner #content {
  min-height: 400px;
  margin: 0 auto;
  margin-top: -314px;
  background: #fff;
  position: relative;
}

.inner #banner .logo-holder {
  margin-top: -200px;
}

#banner .banner-con {
  padding-bottom: 0;
}

.inner #banner .foreword,
.inner #banner .btn-holder {
  display: none;
}


.inner #mission {
  margin-top: 0;
  min-height: 897px;
  position: relative;
}

.inner #mission .mission-con {}

.inner #events {
  background: #000;
  min-height: 931px;
  margin: 0;
}

.inner #content .row {
  padding: 40px;
}

/*inner gallery*/
.img-responsive {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
  object-fit: cover;
}

#content .gallery-container {
  text-align: center;
}

#content .gallery {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#content .gallery li {
  display: inline-block;
}

#content .thumbnail {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: block;
  line-height: .42857;
  margin-bottom: 20px;
  padding: 4px;
  transition: border 0.5s ease-in-out 0s;
}

#content .thumbnail:hover {
  transform: scale(1.02);
}

#content .page_navigation {
  display: inline-block;
}

#content .page_link,
#content .previous_link,
#content .next_link,
#content .first_link,
#content .last_link,
#content .ellipse {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #0275d8;
  display: inline-block;
  line-height: 1.25;
  margin-left: -1px;
  padding: 0.5rem 0.75rem;
  position: relative;
}

#content .page_navigation>a:hover,
.page_navigation>a.active_page {
  background-color: #eceeef;
  border-color: #ddd;
  color: #014c8c;
  text-decoration: none;
}

.inner #content .gallery-container {
  margin-bottom: 20px
}




/*privacy policy*/
.inPrivacyBox {
  max-width: 850px;
  margin: 0 auto;
}

.inPrivacyBox p {
  text-align: justify !important;
}



/*RESPONSIVE*/
@media screen and (max-width: 1440px) {}


/*1200*/
@media screen and (max-width: 1439px) {}

@media screen and (max-width: 1200px) {
  body {
    min-width: 320px
  }
}

/*1024*/
@media screen and (max-width: 1199px) {}

/*960*/
@media screen and (max-width: 1023px) {}

/*768*/
@media screen and (max-width: 959px) {

}


/*425*/
@media screen and (max-width: 767px) {}


/*375*/
@media screen and (max-width: 424px) {}

/*320*/
@media screen and (max-width: 374px) {}